
<section [ngClass]="{'loading': !taskList.length }">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.check">
            <input type="text" [(ngModel)]="item.task">

            <button (click)="deleteItemTaskList(i)">
                <img width="auto" height="20" src="https://img.icons8.com/ios-glyphs/30/filled-trash.png" alt="filled-trash"/>
            </button>
        </li>
    </ul>

</section>
<app-todo-add-in-list (emitItemTaskList)="setEmitTaskList($event)"></app-todo-add-in-list>
<app-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-delete-all>